@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --primary: 0 0% 5%;
    --secondary: 0 0% 50%;
    --accent: 0 0% 20%;
    --muted: 0 0% 92%;
  }

  .dark {
    --background: 0 0% 8%;
    --primary: 0 0% 96%;
    --secondary: 0 0% 50%;
    --accent: 0 0% 20%;
    --muted: 0 0% 9%;
  }
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-base text-primary;
    overflow-y: scroll;
  }

  h1 {
    @apply text-2xl font-semibold lg:text-4xl;
  }

  h2 {
    @apply text-lg font-medium tracking-wide;
  }

  h4 {
    @apply text-base font-medium tracking-tight text-primary;
  }
  h5 {
    @apply text-base font-medium tracking-tight text-secondary;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .link {
    @apply text-primary hover:text-primary/80;
  }
  ul {
    list-style-type: disc;
  }
}

.nav-link {
  @apply rounded-md px-6 py-2 hover:bg-accent hover:text-accent focus:bg-accent focus:text-accent focus:outline-none;
}
.nav-link2 {
  @apply rounded-md hover:bg-accent hover:text-accent focus:bg-accent focus:text-accent focus:outline-none;
}

.nav-post {
  @apply text-secondary hover:text-primary;
}

/* Post styles */

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1.25em;
  padding-right: 0.5em;
  width: 1.25em;
  max-width: 1.25em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-secondary decoration-[0.1em] underline-offset-2 transition-all;
}

.prose h2 {
  @apply mt-10 text-lg font-medium;
}

.prose h3 {
  @apply mt-8 text-base font-medium;
}

.prose h4 {
  @apply mt-6 text-base font-medium;
}

.prose .anchor:after {
  @apply text-secondary;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-muted;
}

.prose blockquote {
  @apply border-l-2 border-secondary/40 pl-4 text-secondary;
}

.prose ul {
  @apply my-4 list-disc pl-5;
}

.prose ol {
  @apply my-4 list-decimal pl-5;
}

.prose hr {
  @apply my-10 border-muted;
}

.prose table {
  @apply my-6 w-full border-collapse text-left;
}

.prose th {
  @apply border-b border-muted pb-2 text-primary;
}

.prose td {
  @apply border-b border-muted py-2 text-secondary;
}

.prose code {
  @apply rounded-lg border border-muted px-1 py-0.5 text-primary;
}

.prose pre code {
  @apply text-primary;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-primary;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

.prose .callout > p {
  margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-primary;
  counter-reset: line;
  /* box-decoration-break: clone; */
}
[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: hsl(var(--secondary));
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-muted;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-muted p-1;
}
[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-muted bg-muted px-4 py-3 font-mono text-sm font-medium text-secondary;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}
